[user]
	name = Emil Oberg
	email = emil@bitupnorth.com
	signingkey = 707C4158F6B875BB
[core]
	excludesfile = /Users/emiloberg/.gitignore_global
	pager = "diff-so-fancy | less --tabs=4 -RFX"
	editor = code --wait
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[pager]

[alias]
	unpushed = !GIT_CURRENT_BRANCH=$(git name-rev --name-only HEAD) && git log origin/$GIT_CURRENT_BRANCH..$GIT_CURRENT_BRANCH --oneline
	tree = log --graph --oneline --decorate
	tree-master = log --graph --oneline --decorate --first-parent master
	p = pull --rebase
	pl = pull --rebase
	co = checkout
	go = checkout
	s = status
	unstage = reset --
	amend = commit --amend --no-edit
[url "https://"]
	insteadOf = git://
[push]
	default = current
[commit]
	template = /Users/emiloberg/.stCommitMsg
	#gpgsign = true
[diff "buf"]
    textconv = hexdump -v -C
