[user]
	name = Emil Oberg
	email = emil@bitupnorth.com
[core]
	excludesfile = /Users/emiloberg/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[pager]

[alias]
	unpushed = !GIT_CURRENT_BRANCH=$(git name-rev --name-only HEAD) && git log origin/$GIT_CURRENT_BRANCH..$GIT_CURRENT_BRANCH --oneline
	tree = log --graph --oneline --decorate
	p = pull --rebase
	pl = pull --rebase
	co = checkout
	s = status
[url "https://"]
	insteadOf = git://
[push]
  default = current
